[run]
omit =
 a14n/__init__.py
 core/__init__.py
 core/settings/heroku_local.py
 core/settings/staging.py
 core/settings/travis.py
 lead/__init__.py
 lead/migrations/__init__.py
 user/__init__.py
 *wsgi.py
