language: python
python:
- '3.6'

branches:
  only:
  - master

before_script:
- pip install -r requirements.txt
script:
- pytest --cov=organact --cov=core

after_success:
- coveralls

deploy:
  provider: heroku
  app: ocp13-1664
  on:
    repo: freezed/ocp13
    branch: master
  api_key:
    secure: VGkEi0BPjWVqlywfpm/XFA82pl0bJ7EWFtUhvyUOThMQTQNp1DAZUem26AdkOdLo4Shqs9DxR1+UI59VpKNa2Ilix5+JKBNIAdtOgzHdcCDNUp3bPYwdbJKUUpp6yjmuSCQvwWmY5ID0qUW6S6Xss6tIGHE2DYipnmuN4E+htY43d3JjXotkvRkbhI9nSbbmbBDai4BnutYOtYqcC54kLR3KTbvpNyNGSeOwlmKmm3BIc2RJg4TcjeOnWgDBSfyWjAlO51JLo1of2P4nq1AuYp+hhobQlaYLDrPRkx8KTveBK2720ZDPkTIPNwz9SYKDFgis7hgqjdjbBYmy0vgWNvWpG7JIZhw02YJ9zNXmfjlcaNheemcLLRRLhIsVtRgZN9tVGO6Zl9etM7PyQGtamv/oU2sUTcZguaePfVrvW4AtrgS/mWcp8QfUmBTt6iq8TunDLxmccatbKWESK2+LdlEU35vytR8xGHTHPVXyKQt6F2fC/McIeDPKatfnyp2F5O8+uqhdd4Gbod1poASngsxskCThuYzWxwzTMMex+h3MSos785phsqbLvcpnw39MkMBNd96jYDwhko9QYBS78/m5BueUh1AZukIsIpxmrEz7kCDKzOr/Doq9iqNJeZbFaN9vQuflhR/Ls0i0hG22RkcbwGAjB0Le2n1dFxMRfbA=

notifications:
  email:
    recipients:
      - secure: gBTrsEyIyVbOB37tTFqqhT2gZjMU0Rt1lFkoWjB/3hOaVx+OCNyl/9HofuMMozVsUBSahdI5MKsFS0+qCnbSxUTmjzm41Hqfrl0HLve4bkmsShmh4FadOeKdrRp9Q80ZK7OCfqkZbFVFm3reSKfSfMnDk9imjzeCylKCpsC84BdJ3VJu7i1vGunJ3CexKOrw9PKcdwZajZDUV56lvECjWwo1qcrPMaD16iN+zmtyWNVq70vPxJOcfMwclONk66w50eolq1EiUBTV1rLstWuQlOctEOQ/rhh/QeIIfeR+XKlgfYydKVQakah3CAM/zhih1dPQeKFXMOSANcgEmQnrCWkNc5xBvfs+I3yKyWrDC4SaMNXSBVV7hmcXIXTmtWdB/VBBdo5KzNPlTXyfj0cVdIW5zVzb3/QA/gFsv+mJyRWd4dt4Z4+fne4T8m1anBZR59TOAyU7wsQC+bBFlY1ekdm5hV9BSAixnhxNcM3rzIQYdDy4Y0xp5VxUBr/Nv9Ym5T89l31x0GhTnAkIAD1SZ82j6r48jixlkmKkmUZrTvQw6K7et4CgpzPg0kfTjuN6eOPPtzmfDschoIgJbDAASlzfCVDgvUMEAIaFJRnbfCPWR4sn7Or51p+gwqtG7Ku6oObdMlRW3NadQL27qkpN8r8PWqG3nx5o3lE1HPctLXo=
      - secure: vWzE5sEcw/AoLn/Bkq1ru8r6yW2ipgY4xIiJ/bTDmIMjrhqALVN65PLTsseoY9ZcLvYHNs5sOakalUMJd/jM5bSgp5VrpM2JQ6aZN7uxT2KveMx9iQYRL/yr0mnrF6N/mLiyiC5Xe3bG3G1s9AUo8cCBitmU4y6hhZslxbso3Yh75SKtWsCrv0y7DzUMpzefYDEubn0gKfDLMGyIqkHchccc5nk88+vyvj6n/lRdE6R9udjkdkdqSgsKQxkE6Rwd6gwHiUoRMRgvKIHsiNeL9iLQoazcjXHLuxsSJLRfJK0WvqIJ5lz2sRa6FKurcjfQ0csC0dl2/yj7xn2afswkjPCHWerOyiLz23AfGaPXBjjevnAeek/MfsjtiPAkbDXhcJ+xrk/rp1TB8EzpSlMYpio8wWVrK8uLyXzEdGdWlEt0L0pC6Tk/bJopPjJ/749CwIU06PedW27FXt5P1HAi4ipBdrMpva3nwGEcnRKZ+PiA169w4dAy+jQVoS0BfDzXB1asSpYrxurzpOwp2ysMriltfEnZDoN3QTMDw0YpKYBdk9BYzYk70iZvDbL06cBjUl46Ld6Z+NwTnS/zaAmRQnO+OiEsTNPzATxliziRLYq/O/NTsSJfgThEze3eSz2JdZjfHyNx6+QlbdRWjvdBlCIryQhW9nCleFJu07KxKeE=
      - secure: sn9w22f1k0bChU4BRMBZfHdxn5tGI75go6eD8GflhUm/0I+O3eWP96nEIWSGuiAJtdVwvlSveCY3zhLjE14K9Dj4fkefr/9nSZclpFgLIXbpCaRxk+I0tZb/mUOGwRmud4VoJvtfQSWwZpaoyG15GG1xPcFTrfJXJwB8cOyP8vKxQ6aMaNjSaqMEnmNEgE7FxphR6PBHFgVXqp4bsJuqEerjMzN2t3qxXIE+PMeJ+VEOomuuDN/CzD4ryqXxBQucE8CmZ/FEL3dMXdUqLRdaRccH2ITSHRUqtYESouBxbQGuOlV7x7jG94D3c3M7Mvi+QrNUr5/ik5hV+gnZdWqc/RBhjl/GV3QB0moMDZqlhKAV5/f2Wv3N8snCDduNf4RXj3bnMJWKhvEGI5lLr8jesuh5zsbJL5LbpUy5Y+1jg3KV2U1osJtr+tZ0YyDrQ703qSZAno6jMlEx6TFkHAPGto9cgxbI0U7JcBX8dU32x8Jh1htSS9gFLjVnrS1CqiOBcPgbgOMvbvSAro3LmN9mL3+1wKqMz2bWBbmdL59b8b11u0nwl1Trc4FRptyuXsXA4JbNWHD8XT4Eo7x972dR3EJpdys8RFBpzFpTrDRIZLerpUY+mwGCTV89VqCvhtgW5Ez1TLSDfWfonsKc8LxjMXFzk3fmqNFFn4iPnxYljtE=
      - secure: qCjP7h98raUSRJAQayT7w6JuVnjqOxiwB6KPZWY+9cLrjfmGjvhOkgZ7iyE4o+VRwxwK7NgW60nDKS8kLbv+pnlQAIoc1KdvCi5SnY/QoD5b9rJVcRuFdfmrdv2jcssnwjoVJZO2sGd7+CK9R++SzCKmjnjUseQyDA6VBLvRrrwmGvWNPXKpB3Dv/Oktdxy9ET21cg7yOF4HAENcASzZ8i+URXb/xNklTz3NcBiSA4tWiGh+a635x5f9CAByHAQQO1cBWopK4RMYbNA/90B9SEme1Jh4vmcrTFvSK8C3EG0YVbwOeRdSARC2jfgTEXXMpUWmSiuVh08iqCFMqWK4MdfGqi+cW8eQQij6dZxFyuG3WhtHVS5i6nK1YQx/O3iNJ+5kdaV47ng3aozFz8diOouq3aRytWiXbhQHeKbJ+XiEeyMOLtrFYzwRaPACDFsGHi0DKKq1gmVdmiDy/A0k1GBcCRcy3MrqgN91cOhldK4h/txwC9AMiXkrulf5+2N/iALXqF9lpk+apJqs9MuuVJKix9vwB+pqp/uQXa13kIvQvpraGHdQfVKdhpWUxd0UvUr13SMeYpsmLwjjhEgU+yVQ2PHjgG7VgyVFeRzhn6HU4Ato3PwEZ3HBkGLSmpOJoDcR9dAorUrNrGB5nMFsWMiYxTdG62W4sQPWJ+ff6Zc=-    on_success: always
    on_success: always
    on_failure: never
