atomicwrites==1.2.1
attrs==18.2.0
certifi==2018.10.15
coverage==4.5.2
Django==2.2.22
dj-database-url==0.5.0
gunicorn==19.9.0
more-itertools==4.3.0
pluggy==0.8.0
psycopg2-binary==2.7.6.1
py==1.7.0
pytest==4.0.1
pytest-cov==2.6.0
pytest-django==3.4.4
python-coveralls
pytz==2018.7
sentry-sdk==0.5.5
six==1.11.0
urllib3==1.24.2
whitenoise==4.1.2
