  <table>
    <tr>
  {% for label in label_list %}
      <th>{{ label }}</th>
  {% endfor %}
      <th></th>
      <th></th>
    </tr>

  {% for line in contacts %}
    <tr>
    {% for key, value in line.items %}
      <td>{{ value }}</td>
    {% endfor %}
      <td><a href="{% url 'lead-view' line.id %}" title="Voir la fiche" class="btn" role="button">Voir</a></td>
      <td><a href="{% url 'lead-edit' line.id %}" title="Éditer la fiche" class="btn" role="button">Modifier</a></td>
    </tr>
  {% endfor %}

  </table>
