{% for contact in contact_list %}
    <div class="flex-container">
      <div class="item-center">
        <a href="{% url 'lead:view' contact.id %}" title="Voir la fiche de {{ contact|title }}">
          <strong>{{ contact.get_full_name|title }}</strong>
        </a>
        [<em>
            <a href="{% url 'lead:edit' contact.id %}" title="Éditer la fiche de {{ contact|title }}">Modifier</a> -
            <a href="{% url 'lead:delete' contact.id %}" title="Supprimer la fiche de {{ contact|title }}">Supprimer</a>
        </em>]
      </div>
    </div>
{% endfor %}
