{% extends 'base.html' %}

{% block title %}Mon compte{% endblock %}

{% block headercontent %}
    <h2>Mon compte</h2>
{% endblock headercontent %}

{% block navcontent %}
  <ul class="pam">
    <li class="pam inbl"><a href="{% url 'lead-index' %}" title="">Mes contacts</a></li>
    <li class="pam inbl"><a href="#" title="">Action #2</a></li>
  </ul>
{% endblock navcontent %}

{% block maincontent %}
  <div class="flex-container--column">
    <div class="item-center"><strong>Nom d'utilisateur</strong> : <em>{{user}}</em></div>
    <div class="item-center"><strong>Date d'inscription</strong> : <em>{{date_joined}}</em></div>
    <div class="item-center"><strong>Dernière connection</strong> : <em>{{last_login}}</em></div>
  </div>
{% endblock maincontent %}
