{% extends "base.html" %}

{% block title %}Ke Sürkrüt im Sommer ! {% endblock %}

{% block headercontent %}
    <hr />
    <h2>Erreur 404</h2>
{% endblock headercontent %}

{% block maincontent %}
        <p>Si la page demandée a un jour existée, là elle n'est plus disponible.</p>
        <p>Il est impossible de savoir si elle le sera à nouveau un jour (dans cette dimension ou une autre).</p>
        <p>Il est possible qu'elle l'ai été en utilisant d'autres identifiants.</p>
        <p>Pour information vous êtes connecté avec l'utilisateur <strong><em>{{ user.username }}</em></strong>.</p>
        <p>Enfin, si vous essayez (juste pour voir) d'accéder aux contacts d'un·e autre utilisateur·trice…… et ben c'est pas bien !</p>
{% endblock maincontent %}
