{% extends 'base.html' %}

{% block title %}Mentions légales{% endblock %}

{% block headercontent %}
    <h2>WTF - mentions légales</h2>
{% endblock headercontent %}

{% block maincontent %}
    <div>
      <h4>Contexte <em>pédagogique</em></h4>
      <p>
        Le présent service est le travail d'étude issu du 13ème projet du <a href="https://openclassrooms.com/fr/paths/68-developpeur-dapplication-python" title="Open Classrooms - Développeur d'application Python">pacours développeur d'application Python</a> proposé par <a href="https://openclassrooms.com" title="Site d'OpenClassrooms">OpenClassrooms</a>. Il s'agit de développer un projet <em>libre</em> avec une <em>portée sociale</em>.
      </p>

      <blockquote>
        <p>
          Menez un projet numérique de la forme qui vous semblera la plus adaptée pour répondre à un besoin autour de vous. Il peut s’agir d’un site de réservation pour l’association de théâtre de votre ville, d’une application pour localiser et référencer les objets trouvés pendant un festival, etc. Prenez le temps de choisir un sujet qui vous touche et pour lequel vous ressentez un véritable besoin.
        </p>
      </blockquote>

      <p>Les outils ci-dessous font partit du périmètre pédagogique :</p>

      <ul class="pas">
        <li class="pas inbl mas"><a href="https://www.djangoproject.com">Django</a></li>
        <li class="pas inbl mas"><a href="https://www.git-scm.com">git</a></li>
        <li class="pas inbl mas"><a href="https://www.github.com">GitHub</a></li>
        <li class="pas inbl mas"><a href="https://www.postgresql.org">PostgreSQL</a></li>
        <li class="pas inbl mas"><a href="https://www.heroku.com">Heroku</a></li>
        <li class="pas inbl mas"><a href="https://travis-ci.org/freezed/ocp13/builds"></a>Travis CI</li>
        <li class="pas inbl mas"><a href="https://coveralls.io/github/freezed/ocp13"></a>Coveralls</li>
        <li class="pas inbl mas"><a href="https://sentry.io/team-rocket/ocp13/"></a>Sentry</li>
        <li class="pas inbl mas"><a href="https://fr.wikipedia.org/wiki/Cerveau">le cerveau</a> (un peu)</li>
      </ul>

      <h4>Contexte <em>utilisateur</em></h4>
      <p>
        <a href="https://refuge.la-cordee.net/users/3271">Valérie</a> et <a href="https://refuge.la-cordee.net/users/2579">Serge</a> sont travailleurs indépendants. Nous nous <a href="https://refuge.la-cordee.net/messages/5733">rencontrons</a> à <em>Lyon</em> dans la <a href="https://www.la-cordee.net/">communauté de travail</a> que nous fréquentons. Pour leurs activités respectives ils sont à la recherche d'un outil qui leur permettrait de gérer aisément leur <em>réseau de contacts</em> : prospection, suivi, opportunités etc.
      </p>
      <p>
        Bien qu'aillant chacun des activités (<em>très</em>) différentes, après une écoute de leurs problématiques respectives, un certain nombre de leurs besoins sont similaires et sont compatibles avec un outil commun. En plus il pourrait même convenir à d'autres indépendants de cette <em>communauté de travail</em> ou d'une autre
      </p>

      <p>
        L'intégralité du code source est disponible sur <a href="https://github.com/freezed/ocp13" title="Source du service sur GitHub">GitHub</a>.
      </p>
    </div>

    <hr />

    <div class="pas">
      <h3>Données personnelles</h3>
      <p><em>Ça vient, ça vient…</em></p>
    </div>

    <hr />

    <div>
      <h3>Mentions légales</h3>
      <h5>À qui j'ai piqué des trucs ?</h5>

      <ul class="pas">
        <li class="pas inbl mas">Template HTML5 & <em>Elsass Lipsum</em> fourni par <a href="https://schnaps.it/" title="Générateur de template HTML5 since 1664">Schnaps.it</a></li>
        <li class="pas inbl mas"><em>Favicon</em> : <a href="https://origin.fontawesome.com/icons/connectdevelop?style=brands" title="The web's most popular icon set and toolkit">Font Awesome - connectdevelop</a></li>
        <li class="pas inbl mas">Harmonie de couleurs : <a href="https://coolors.co/" title="The super fast color schemes generator!">coolors.co</a></li>
        <li class="pas inbl mas">La présente page est très fortement inspirée de <a href="https://www.alsacreations.com/page/about/">celle d'Alsacréation</a>, merci vielmol.</li>
      </ul>
    </div>

    <hr />

    <div>
      <h3>Hébergement</h3>
      <div class="txtcenter">
        <p>
          <a href="https://www.heroku.com/about">
            <img src="https://brand.heroku.com/static/media/heroku-logo-stroke.aa0b53be.svg" alt="heroku.com" height="20" />
          </a>
        </p>
        <p>
          <a href="https://www.heroku.com/about">Heroku</a>
        </p>
      </div>
    </div>

    <hr />

    <div>
      <h3>Contenus et outils</h3>
      <p>
          Ce service est distribué dans l'espoir qu'il sera utile, mais sans aucune garantie; sans même la garantie implicite de qualité marchande ou d'adéquation à un objet particulier. L'administrateur ne peut en aucun cas être tenu pour responsable de tous dommages quels qu'ils soient, y compris mais non de façon limitative, des dommages directs, indirects, accessoires ou incidents, des pertes de bénéfices ou de l'interruption d'activité, résultant de l'utilisation ou de l'impossibilité d'utilisation de ce service.
      </p>

      <p>
          Tu as lu jusqu'ici? Bravo! Tu gagnes une bière avec le mot de passe suivant la prochaine fois que tu me croises : <em>Cœur d'artichaud à la moutarde à l'ancienne</em>. Merci, tu peux reprendre une vie normale.
      </p>
    </div>
{% endblock maincontent %}
