/* Votre Style */

h1, [class*="grid"] > *  {
  background: #fe4a49;
}

li, .helptext  {
  background: #f2f3ae;
}

header, aside, footer {
  background: #8ac926;
}

main, ul {
  background: #ffca3a;
}

.helptext {
  display: block;
  font-style: italic;
  font-variant: small-caps;
}

form ul {
  list-style-type: none;
  font-style: italic;
  font-variant: small-caps;
}

table td, table th {
  border-collapse: collapse;
  border: 1px solid;
}
